target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.apt_generated
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


/bin/
/.apt_generated_tests/
/failed-gui-tests/
Relazione/main.aux
Relazione/main.fdb_latexmk
Relazione/main.fls
Relazione/main.lof
Relazione/main.log
Relazione/main.synctex.gz
Relazione/main.toc
Relazione/Part/Bibl.aux
Relazione/Part/Confronto implementazione dizionari.aux
Relazione/Part/Introduzione Generale.aux
Relazione/Title/Title.aux
Relazione/Title/title.aux
Relazione/Title/Title.fdb_latexmk
Relazione/Title/Title.fls
Relazione/Title/Title.log
